<%#= You can access the Reform form object via local : form %>
<%#= You can access the Reform form model object via  : form.model %>
<%#= You have access to main DSJ jopurney object via local : journey_plan %>

<header class="text">
  <h1 class="form-title heading-large" id="groupLabel"><%= t(".header") %></h1>
</header>

<fieldset>

  <%= journey_plan.form_fields.where(form: journey_plan.forms.where(form_name: 'ShipAddress')).each do |ff| %>
      <legend class="visuallyhidden"><%= ff.snippet ? t(ff.snippet.I18n_key) : "Not found" %></legend>
      <%= f.label ff.field,  ff.snippet ? t(ff.snippet.I18n_key) : "Not found", class: 'form-label' %>
      <%#= f.text_field "#{ff.field}_value", class: 'form-control form-control-char-50' %>
  <% end %>

</fieldset>
